<p id="notice"><%= notice %></p>

<p>
  <b>Symbol:</b>
  <%= @portfolio.symbol %>
</p>

<p>
  <b>Lastquote:</b>
  <%= @portfolio.lastquote %>
</p>


<%= link_to 'Edit', edit_portfolio_path(@portfolio) %> |
<%= link_to 'Back', portfolios_path %>
